[submodule "thirdparty/vk-bootstrap"]
	path = thirdparty/vk-bootstrap
	url = git@github.com:charles-lunarg/vk-bootstrap.git
[submodule "thirdparty/rapidyaml"]
	path = thirdparty/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = git@github.com:zeux/volk.git
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:icaven/glm.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "thirdparty/--recurse-submodules"]
	path = thirdparty/--recurse-submodules
	url = git@github.com:spnda/fastgltf.git
[submodule "thirdparty/fastgltf"]
	path = thirdparty/fastgltf
	url = git@github.com:spnda/fastgltf.git
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:nothings/stb.git
