[submodule "thirdparty/vk-bootstrap"]
	path = thirdparty/vk-bootstrap
	url = git@github.com:charles-lunarg/vk-bootstrap.git
[submodule "thirdparty/rapidyaml"]
	path = thirdparty/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = git@github.com:zeux/volk.git
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
